.posts-wrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.link-to-post {
    color: black;
}

.link-to-post:hover {
    color: #007bff;
}

.show-top {
    margin-top: 20px;
    display: block;
    text-decoration: none;
    border: 1px solid #0000004d;
    width: fit-content;
    padding: 5px;
    color: rgb(116, 6, 6);
}